@mixin title-gen($fsize : 2em) {
  margin-bottom: 0;

  .p1 {
    font-size: $fsize;
    text-align: center;
    font-weight: 700;
    color: #494949;
  }
}

@mixin pod-title($fsize : 1.125em) {
  .p1 {
    text-align: center;
    font-size: $fsize;
  }
}

@mixin description($width, $margin, $fsize, $align) {
  width: $width;
  margin: $margin;

  .p1 {
    text-align: $align;
    font-size: $fsize;
  }
}

@mixin buttons($width : 100%, $margin : 0 auto) {
  width: $width;
  margin: $margin;

  .btn-banner {
    border-radius: 2px;
    width: 100%;
    color: #fdfdfd;
    transition: .3s;
    background-color: $purple;
    font-size: 1.250em;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 20px 50px 0px rgba(110, 65, 255, 0.20);
      background-color: darken($purple, 4%);
    }
  }
}


@mixin color($color) {
  .bar {
    background: $color;
  }

  .label {
    background: $color;

    &::before {
      border-top-color: $color;
    }
  }
}