$def-color: #1a1a1a;
$purple: #6e41ff;
$def-fsize: 16px;
$html-c: #f6945f;

@mixin title-gen($fsize){
  .p1{
    font-size: $fsize;
    text-align: center;
    font-weight: 700;
    color: #494949;
  }
}
@mixin pod-title($fsize) {
  .p1 {
    text-align: center;
    font-size: $fsize;
  }
}
@mixin description($width, $margin, $fsize, $align) {
  width: $width;
  margin: $margin;
  .p1 {
    text-align: $align;
    font-size: $fsize;
  }
}

@mixin buttons($width : 100%, $margin : 0) {
  width: $width;
  margin: $margin;
  .btn-banner {
    border-radius: 2px;
    width: 100%;
    color: #fdfdfd;
    transition: .3s;
    background-color: $purple;
    font-size: 1.250em;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 20px 50px 0px rgba(110, 65, 255, 0.20);
      background-color: darken($purple, 4%);
    }
  }
}

.to-top{
  position: fixed;
  display: none;
  right: 50px;
  animation-duration: .4s;
  bottom: 50px;
  .icon{
    i{
      transform: rotate(-45deg);
      font-size: 2.5em;
      color: #48bfee;
      cursor: pointer;
    }
  }
}