@import 'mixins';
$def-color: #1a1a1a;
$purple: #6e41ff;
$def-fsize: 16px;
$html-c: #2bddbd;
$css-c: #ff65a5;
$rocket: #57acec;
$js-c: #febd59;
$php-c: #735db6;

.title{
  @include title-gen();
}
.pod-title {
  @include pod-title();
}


.scrolled{
  background-color: rgb(241, 241, 241);
  position: fixed;
  z-index: 999;
}
.to-top {
  position: fixed;
  display: none;
  right: 50px;
  animation-duration: .4s;
  bottom: 50px;

  .icon {
    i {
      transform: rotate(-45deg);
      font-size: 2.5em;
      color: $rocket;
      transition: .2s;
      cursor: pointer;
      &:hover {
        color: darken($rocket, 5%);
      }
    }
  }
}

#html {
  @include color($html-c);
}

#js {
  @include color($js-c);
}

#css {
  @include color($css-c);
}

#php {
  @include color($php-c);
}