@import '../public/css/fonts.css';
@import 'var_classes';

* img {
  max-width: 100%;
}

body {
  font-style: $def-fsize;
  position: relative;
  font-family: 'NotoSans';
  color: $def-color;

  header {
    position: absolute;
    transition: .5s;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    right: 0;
    left: 0;

    .head {
      align-items: center;
      width: 100%;
      height: 100%;
      .logo{
        margin-top: 27px;
      }
      .menu {
        text-align: center;
        
        .link {
          a {
            color: #1a1a1a;
            transition: .3s;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;

            &:hover,
            &:active,
            &:focus {
              color: #686868;
            }
          }
        }
      }

      .networks {
        width: 60%;
        margin: 0 0 0 auto;

        .circle-icon {
          border-radius: 50%;
          border: 1px solid #a1a1a1;
          width: 35px;
          height: 35px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .4s;

          a {
            width: 100%;
            height: 100%;
            text-align: center;
            color: #a1a1a1;
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
          }

          &:hover,
          &:active,
          &:focus {
            border-color: $purple;
            background-color: $purple;
            margin-top: -7px;

            a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .home {
    //padding-top: 300px;
    background: url('../images/hello.jpg') no-repeat top center;
    padding-bottom: 20px;
    background-size: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      .welcome-text {
        .hello {
          .p {
            font-size: 1.750em;

            .smaller {
              font-size: 0.75em;
            }
          }
        }

        .name {
          margin: 15px 0;

          .p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 3.250em;

            .d {
              letter-spacing: 4px;
            }
          }
        }

        .spec-on {
          margin-bottom: 10px;

          .p {
            font-family: 'Merriewether';
            font-size: 1.875em;
          }
        }

        .text-about {
          .p {
            color: lighten($def-color, 30%);
          }
        }
      }

      .buttons {
        @include buttons(100%, 20px -15px 0);
      }
    }
  }

  .about-me {
    padding: 40px 0;

    .title-gen {
      @include title-gen(2em);
    }

    .pod-title {
      @include pod-title(1.125em);
    }

    .description {
      @include description(80%, 15px auto 0, 0.95em, center);
      margin-bottom: 60px;
    }

    .skills {
      margin-bottom: 50px;

      .skill-bar {
        p {
          margin-bottom: 15px;
        }

        .progressbar {
          position: relative;
          width: 100%;
          height: 3px;
          background-color: #eeeeee;

          .bar {
            position: absolute;
            top: 0;
            width: 0px;
            transition: all 2s;
            left: 0;
            height: 100%;
            animation-duration: 2s;
          }

          .label {
            position: absolute;
            top: -40px;
            left: 0;
            font-weight: 500;
            transition: all 2s;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;

            &::before {
              position: absolute;
              content: '';
              bottom: -10px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              width: 10px;
              height: 10px;
              border-top: 6px solid #fff;
              border-bottom: 5px solid transparent;
              border-right: 5px solid transparent;
              border-left: 5px solid transparent;
            }
          }
        }
      }
    }

  }

  .benefits {
    padding: 50px 0;

    .title {
      @include title-gen();
      margin-bottom: 60px;
    }

    .service {
      .ser-item {
        padding: 50px 0;
        box-shadow: 0px 0px 40px -21px rgba(0, 0, 0, 0.75);

        .icon {
          width: 20%;
          margin: 0 auto;

          i {
            font-style: 3em;
            color: $purple;
          }
        }

        .title {
          margin-top: 15px;
          @include title-gen(1.5em);
        }

        .text {
          width: 80%;
          margin: 30px auto;
          @include pod-title(1em);
        }

        .buttons {
          @include buttons(60%);
        }
      }
    }

    .buttons {
      @include buttons(570px, 40px auto 0);
    }
  }
}